<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <form th:method="POST" th:action="@{/user/update/{id}(id=${user.getId()})}" th:object="${user}">
        <lable style="font-size:18px" for="newfirstname">First name</lable>
        <input style="font-size:18px" th:name="newfirstname" type="text" th:field="*{firstName}" id="newfirstname"/>
        <p/>

        <lable style="font-size:18px" for="newlastname">Last name</lable>
        <input style="font-size:18px" name="newlastname" type="text" th:field="*{lastName}" id="newlastname"/>
        <p/>

        <lable style="font-size:18px" for="newemail">Email</lable>
        <input style="font-size:18px" name="newemail" type="text" th:field="*{email}" id="newemail"/>
        <p/>

        <lable style="font-size:18px" for="newdebt">Debt</lable>
        <input style="font-size:18px" name="newdebt" type="text" th:field="*{debt}" id="newdebt"/>
        <p/>

        <input style="font-size:18px" type="submit" value="Update value"/>
    </form>

    <p/>
    <a th:href="@{/}"><button style="font-size:18px">Return to users list</button></a>
    <p/>
    <form th:method="POST" th:action="@{/user/remove/{id}(id=${user.getId()})}">
        <input style="font-size:18px;" type="submit" value="Delete user"/>
    </form>
</body>
</html>